@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
}

.logo {
  max-width: 50%;
  height: auto;
}

.footer-wrapper {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background: #252525 !important;
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
  padding: 3.4375rem 0;
  margin: 0;
  width: 80%;
}
.footer-navigation a {
  font-size: 14px;
  color: #CCCCCC !important;
  transition: color 0.2s linear;
  text-decoration: none;
}
.footer-navigation a:hover {
  color: #009ddc !important;
}
.footer-navigation p {
  color: #CCCCCC !important;
  line-height: 22px;
  font-size: 14px;
}
.footer-navigation h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 0.6rem 0;
  font-size: 12px;
  color: #777777 !important;
  font-weight: normal;
}
.footer-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-navigation ul li {
  padding: 0.6rem 0;
}

.footer-column {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}

.social-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background: black !important;
  width: 100%;
}

.social-navigation {
  width: 80%;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-navigation p {
  font-size: 12px;
  color: #777777 !important;
}
.social-navigation a {
  font-size: 12px;
  color: #CCCCCC !important;
  transition: color 0.2s linear;
  text-decoration: none;
}
.social-navigation a:hover {
  color: #009ddc !important;
}

@media (max-width: 767px) {
  .footer-navigation {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 3rem;
    padding: 3.4375rem 0 1.5rem 0;
  }

  .social-navigation {
    flex-flow: wrap;
    padding: 1rem 0 2rem 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    max-width: 40%;
  }

  .footer-navigation {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 3.4375rem 1rem;
  }

  .social-navigation {
    padding: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer-navigation {
    padding: 3.4375rem 0rem;
    width: 95%;
  }

  .social-navigation {
    width: 95%;
  }
}
.header-wrapper {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: all 500ms;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0;
  width: 80%;
}

.toggle-white-background {
  background: white;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.link-column a {
  color: #888888 !important;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.1s linear;
}
.link-column a:hover {
  color: #009ddc !important;
}
.link-column ul {
  list-style: none;
  display: flex;
}
.link-column ul li {
  padding: 0 0.75rem;
}

.login-column .login-default {
  color: #888888 !important;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.1s linear;
}
.login-column .login-default:hover {
  color: #009ddc !important;
}
.login-column .login-options {
  background: #1F1F1F;
  display: none;
  position: absolute;
  right: 5%;
}
.login-column .login-options ul {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.login-column .login-options ul li {
  padding: 0;
  margin: 0;
}
.login-column .login-options ul a {
  display: block;
  padding: 1rem;
}
.login-column .login-options ul a:hover {
  background: #313233 !important;
}
.login-column:hover .login-options {
  display: block;
}

.mobile-column {
  display: none;
  padding: 0 1rem 0 0;
  cursor: pointer;
}
.mobile-column .top-line {
  height: 2px;
  width: 25px;
  background: #888888;
  display: block;
  transition: all 300ms;
  margin: 0 0 5px 0;
}
.mobile-column .middle-line {
  height: 2px;
  width: 25px;
  background: #888888;
  display: block;
  transition: all 300ms;
  opacity: 1;
  margin: 0 0 5px 0;
}
.mobile-column .bottom-line {
  height: 2px;
  width: 25px;
  background: #888888;
  display: block;
  transition: all 300ms;
}
.mobile-column .rotate-top {
  transform: translate(0, 7px) rotate(45deg);
}
.mobile-column .hide-middle {
  opacity: 0;
  width: 0px;
}
.mobile-column .rotate-bottom {
  transform: translate(0, -7px) rotate(-45deg);
}

.mobile-menu {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 1000ms;
  background: #1F1F1F;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}
.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  padding: 0 2rem;
  margin: 1rem 0;
}
.mobile-menu ul li {
  padding: 1rem 0;
}
.mobile-menu ul li:not(:last-child) {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}
.mobile-menu a {
  color: #888888 !important;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.1s linear;
}
.mobile-menu a:hover {
  color: white !important;
}

.reveal-mobile-menu {
  max-height: 600px;
}

/*# sourceMappingURL=style.css.map */
