body{
    padding:0;
    margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "utilities";

.footer-logo{
    max-width: 80%;
    height: auto;
}
.footer-wrapper{
    font-family: 'Open Sans', sans-serif;
    padding:0 ;
    margin:0;
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background: #252525!important;
}
.footer-navigation{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:4rem;
    padding:3.4375rem 0;
    margin:0;
    width:80%;
    a{
        font-size:14px;
        color:#CCCCCC!important;
        transition:color 0.2s linear;
        text-decoration: none;
        &:hover{
            color:#009ddc !important;
        }
    }
    p{
        color:#CCCCCC!important;
        line-height:22px;
        font-size:14px;
    }
    h4{
        text-transform: uppercase;
        letter-spacing: 2px;
        margin:0 0 0.6rem 0;
        font-size: 12px;
        color:#777777!important;
        font-weight:normal;    
    }
    ul{
        list-style: none;
        padding:0;
        margin:0;
        li{
            padding:0.6rem 0;
        }
    }
}
.footer-column{
    display:flex;
    align-items: flex-start;
    flex-flow: column;
}
.social-wrapper{
    padding:0 ;
    margin:0;
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background:black !important;
    width:100%;
}
.social-navigation{
    width:80%;
    padding:1rem 0;
    margin:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 12px;
        color:#777777!important;
    }
    a{
        font-size:12px;
        color:#CCCCCC!important;
        transition:color 0.2s linear;
        text-decoration: none;
        &:hover{
            color:#009ddc !important;
        }
    }
    a i{
        font-family: "Font Awesome 5 Brands";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-size: 18px;
        line-height: 1;
        color: #777777!important;
        transition:color 0.2s linear;
        &:hover{
            color:#009ddc !important;
        }
    }
}


// Media Queries

@include respond-below(md){
    .footer-logo{
        max-width:40%;
    }
    .footer-navigation{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-gap:3rem;
        padding:3.4375rem 0 1.5rem 0;
    }
    .social-navigation{
        flex-flow: wrap;
        padding:1rem 0 2rem 0;
    }
}
@include respond-between(md,lg){
    .footer-logo{
        max-width:50%;
    }
    .footer-navigation{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        padding:3.4375rem 1rem;
    }
    .social-navigation{
        padding:1rem;
    }
}
@include respond-between(lg,xl){
    .footer-navigation{
        padding:3.4375rem 0rem;
        width:95%;
    }
    .social-navigation{
        width:95%;
    }
}

@include respond-above(xl){
    .footer-logo{
        max-width: 60%;
    }
}

