body{
    padding:0;
    margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "utilities";


.header-logo{
    max-width: 50%;
    height: auto;
}
.header-wrapper{
    font-family: 'Open Sans', sans-serif;
    padding:0 ;
    margin:0;
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background:transparent;
    width:100%;
    position:fixed;
    top:0;
    z-index:9999;
    transition: all 500ms;
}
.header-navigation{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem 0;
    margin:0;
    width:85%;
}
.toggle-white-background{
    background:white;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}
.logo-column{
  
}
.link-column{
    a{
        color:#888888 !important;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        transition:color 0.1s linear;
        &:hover{
            color:#009ddc !important;
        }
    }
    ul{
        list-style: none;
        display:flex;
        li{
            padding:0 0.75rem;
        }
    }
}
.login-column{
    .login-default{
        color:#888888 !important;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        transition:color 0.1s linear;
        &:hover{
            color:#009ddc !important;
        }
    }
    .login-options{
        background:#1F1F1F;
        display:none;
        position:absolute;
        right:5%;
        ul{
            display:flex;
            flex-flow: column;
            justify-content: flex-start;
            padding:0;
            margin:0;
            li{
                padding:0;
                margin:0;
            }
            a{
                display:block;
                padding:1rem;
                &:hover{
                    background: #313233!important;
                }
            }
        }
    }
    &:hover{
        .login-options{
            display:block;
        }
    }
}
.mobile-column{
    display:none;
    padding:0 1rem 0 0;
    cursor: pointer;        
        .top-line{
            height:2px;
            width:25px;
            background:#888888;;
            display:block;
            transition:all 300ms;
            margin:0 0 5px 0;
        }
        .middle-line{
            height:2px;
            width:25px;
            background:#888888;;
            display:block;
            transition:all 300ms;
            opacity: 1;
            margin:0 0 5px 0;
        }
        .bottom-line{
            height:2px;
            width:25px;
            background:#888888;;
            display:block;
            transition:all 300ms;
        }
        .rotate-top{
            transform: translate(0, 7px) rotate(45deg);
        }
        .hide-middle{
            opacity:0;
            width:0px;
        }
        .rotate-bottom{
            transform: translate(0, -7px) rotate(-45deg);
        }
}
.mobile-menu{
    width:100%;
    overflow: hidden;
    max-height:0;
    transition: all 1000ms;
    background:#1F1F1F;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
    ul{
        list-style: none;
        display:flex;
        flex-flow: column;
        padding:0 2rem;
        margin:1rem 0 2.5rem 0;
        li{
           padding:0;
           margin:0;
        }
    }
    a{
        color:rgba(255, 255, 255, 0.6) !important;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        transition:color 0.2s linear;
        padding:1rem 0;
        display:block;
        border-bottom:1px dotted rgba(255, 255, 255, 0.2);
        &:hover{
            color:white !important;
        }
    }
}
.reveal-mobile-menu{
    max-height:600px;
}
.mobile-menu-login-row{
    .mobile-menu-login-default{
        cursor:pointer;
        display:flex;
        justify-content: space-between;
        color:rgba(255, 255, 255, 0.6) !important;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        padding:1rem 0;
        transition:color 0.1s linear;
        border-bottom:1px dotted rgba(255, 255, 255, 0.2);
        &:hover{
            color:white !important;
        }
    }
   .chevron{
       display:flex;
       justify-content: center;
       align-items: center;
       transition:all 500ms;
   }
   .left-line{
        height:2px;
        width:11px;
        background:#444444;
        display:block;
        transition:all 300ms;
        transform: rotate(45deg);
        position:relative
    }
    .right-line{
        height:2px;
        width:11px;
        background:#444444;
        display:block;
        transition:all 300ms;
        transform: rotate(-45deg);
        position: relative;
        right: 4px;
    }
    .rotate{
        transform: rotate(-90deg);
    }
}
.mobile-menu-login-options{
    width:100%;
    overflow: hidden;
    max-height:0;
    transition: all 750ms;
    background:#1F1F1F;
        ul{
            display:flex;
            flex-flow: column;
            justify-content: flex-start;
            padding:0;
            margin:0;
            li{
                padding:0;
                margin:0 1rem;
            }
            a{
                display:block;
                padding:1rem 0;
                &:hover{
                    color:white !important;
                }
            }
        }
    }
.reveal-mobile-menu-login{
    max-height:600px;
}

// Media Queries
@include respond-below(sm){
    .header-logo{
        max-width:35%;
    }
}

@include respond-below(lg){
    .header-logo{
        max-width:40%;
    }
    .logo-column{
        padding:0;
    }
    .link-column{
        display: none;
    }
    .header-navigation{
        padding:0.75rem 1rem;
        width:100%;
    }
    .mobile-column{
        display:block;
    }
}
@include respond-between(lg,xl){
    .header-navigation{
        padding:0.75rem 0rem;
        width:97%;
    }
}
